/* 프리텐다드 글꼴 가져오기 */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

/* common */
body {
  font-family: 'Pretendard', sans-serif;
  font-size: 14px;
}
.inner {
  width: 91%;
  margin: auto;
}
h2 {
  color: #323232;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.4px;
}
.input-wrap {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
input[type='text'] {
  /* 피그마 부분 */
  padding: 16px 12px;
  background-color: #f8f8f8;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.35%;
  border-radius: 10px;

  /* 내가 추가로 넣은 부분 */
  display: block;
  width: 100%;
  outline: none;
  border: 0 solid transparent;
}
/* high */
.high h1 {
  padding-top: 28px;
  padding-bottom: 20px;
  color: #323232;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.5px;
}
.high h1 span {
  color: #03c123;
}
.high .nameinfo {
}
.spaceType {
}
.spaceType input {
  color: #888;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.35px;
}

/* high - radio 버튼 조정 */
.high .spaceType h2 {
  margin-top: 28px;
  margin-bottom: 10px;
}

.high .spaceType label {
  display: flex;
  width: 100%;
  margin-bottom: 12px;

  align-items: center;
}
/* .high .spaceType label:first-child {
  margin-bottom: 12px;
} */
.high .spaceType label span {
  display: block;
  flex-grow: 1;

  /* 글자속성 */
  color: #888;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.35%;
}
.high .spaceType label span.text1.check,
.high .spaceType label span.text2.check {
  color: #323232;
}
.high .spaceType label input {
  -webkit-appearance: none;
  /* // 웹킷 브라우저에서 기본 스타일 제거 */
  -moz-appearance: none;
  /* // 모질라 브라우저에서 기본 스타일 제거  */
  appearance: none;
  /* // 기본 브라우저에서 기본 스타일 제거 */

  margin: 0;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  padding: 4px;
  background-clip: content-box;
  background-color: #e5e5e5;
}
.high .spaceType label input:checked {
  border: 1px solid #03c024;
  background-color: #03c024;
}

/* 대관 일정 등록 */
.high .spaceDate {
  position: relative;
}
.high .spaceDate h2 {
}
.high .spaceDate input[type='date']::before {
  content: attr(data-placeholder);
  width: 100%;
}
.high .spaceDate input[type='date']:focus::before,
.high .spaceDate input[type='date']:valid::before {
  display: none;
}
